<div class="page-container">
    <mat-form-field *ngIf="!renderApInsertionUI" class="example-full-width">
        <mat-label>Authorization key</mat-label>
        <input matInput placeholder="Your authorization key" (change)="enterAuthKey($event)">
    </mat-form-field>
    <div *ngIf="shouldShowWrongAuthMessage">
        <h1>Nice try. Get out of here</h1>
    </div>

    <div *ngIf="renderApInsertionUI">
        <mat-form-field>
            <mat-label>Choose maze</mat-label>
            <mat-select (selectionChange)="onSelection($event)">
                <mat-option value="CA">Chaos Argent</mat-option>
                <mat-option value="DW">Demonic World</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        
        <div *ngFor="let player of addedPlayers">
            <li>{{player}}</li>
        </div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Player</mat-label>
              <input #input
                     type="text"
                     placeholder="Pick one"
                     matInput
                     [matAutocomplete]="auto"
                     (input)="filter()"
                     (focus)="select()">
              <mat-autocomplete requireSelection #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

        <button mat-stroked-button class="Primary">Submit</button>
    </div>
</div>